global
    log stdout format raw local0
    maxconn 2000

    # Runtime control endpoint
    # stats socket /var/run/haproxy.sock mode 660 level admin
    stats socket /tmp/haproxy.sock mode 660 level admin
    stats timeout 30s

defaults
    mode http
    log global


    timeout connect 5s
    timeout client 60s
    timeout server 60s

    option httplog
    

frontend http_in
    bind *:8080
    default_backend servoc_inference


listen stats
    bind :8404             # Dedicated port for the UI
    mode http
    stats enable
    stats uri /monitor     # The URL path
    stats refresh 1s


backend servoc_inference
    # Automatically uses weighted round robin load balancing
    balance roundrobin

    option httpchk GET /v1/health
    http-check expect status 200

    # server deployment_1 127.0.0.1:8081 weight 50 check
    # server deployment_2 127.0.0.1:8082 weight 50 check

    # server deployment_1 host.docker.internal:8081 weight 50 check
    # server deployment_2 host.docker.internal:8082 weight 50 check

    server deployment_1 host.docker.internal:8081 weight 100 check agent-check agent-port 5555 agent-inter 1s
    server deployment_2 host.docker.internal:8082 weight 100 check agent-check agent-port 5556 agent-inter 1s


